* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:  #5E63BA;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 700px;
    background:  #fff;
    margin: 50px 20px;
    border: 1px solid rgba(0, 0, 0, 0.425);
    border-radius: 5px;
}

.text-container {
    text-align: center;
    margin-top: 50px;
}

.text-container > h1 {
    font-size: 2.2em;
}

.text-container > h2 {
    font-weight: normal;
    font-size: 1.3em;
    padding: 10px;
}

.text-container > p {
    font-size: 1.1em;
    margin: 44% 0 0 0;
}

.difficulty-buttons {
    margin: 5px;
}

.button {
    height: 40px;
    width: 150px;
    background: #5E63BA;
    border: 1px solid rgba(0, 0, 0, 0.404);
    border-radius: 2.5px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s, z-index 0.3s ease;
}

.button:hover {
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    background: #8286C9;
}